pkgbase = oh-my-pi-git-tag
	pkgdesc = AI coding agent for the terminal — hash-anchored edits, optimized tool harness, LSP, Python SDK, browser extension, subagents, and more (git latest tag)
	pkgver = 17.2.12.r0.g45e12e5
	pkgrel = 1
	url = https://github.com/can1357/oh-my-pi
	arch = x86_64
	license = MIT
	makedepends = bazel
	makedepends = bun
	makedepends = git
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = zip
	depends = glibc
	depends = opus
	depends = pcre2
	depends = python
	depends = python-fastapi
	depends = uvicorn
	depends = python-httpx
	depends = python-pydantic
	depends = python-pydantic-settings
	depends = python-dotenv
	depends = python-click
	optdepends = chromium: Browser extension integration support
	provides = oh-my-pi
	provides = omp
	provides = python-omp-rpc
	provides = python-robomp
	conflicts = oh-my-pi
	conflicts = omp
	conflicts = python-omp-rpc
	conflicts = python-robomp
	options = !strip
	source = oh-my-pi::git+https://github.com/can1357/oh-my-pi.git
	source = tree-sitter-no-strict-aliasing.patch
	source = use-system-opus-pcre2.patch
	source = skip-native-embed-for-aur.patch
	sha256sums = SKIP
	sha256sums = 5894ef4a9c7dfe4832466afd734f2342bb112f884dbe00f7a0a0152db472e75e
	sha256sums = 05c0e2562f4844c1fe64305f907633e19dd356407c53e0c43c40ce60b4a36835
	sha256sums = a81209715174b5413d5743ec4b461ffd71b1a1fc37bd4a7dcde23c27e35bc62f

pkgname = oh-my-pi-git-tag
