pkgbase = oh-my-pi-git-tag
	pkgdesc = AI coding agent for the terminal — hash-anchored edits, optimized tool harness, LSP, Python, browser, subagents, and more (git latest tag)
	pkgver = 17.2.10.r120.g39477ba
	pkgrel = 1
	url = https://github.com/can1357/oh-my-pi
	arch = x86_64
	license = MIT
	makedepends = bazel
	makedepends = bun
	makedepends = git
	depends = glibc
	depends = opus
	depends = pcre2
	provides = oh-my-pi
	conflicts = oh-my-pi
	options = !strip
	source = oh-my-pi::git+https://github.com/can1357/oh-my-pi.git
	source = tree-sitter-no-strict-aliasing.patch
	source = use-system-opus-pcre2.patch
	source = skip-native-embed-for-aur.patch
	sha256sums = SKIP
	sha256sums = e171083b001b517a4bb15d9e87483b59cc650db6d1d7348a59d752b1519aa761
	sha256sums = 05c0e2562f4844c1fe64305f907633e19dd356407c53e0c43c40ce60b4a36835
	sha256sums = a81209715174b5413d5743ec4b461ffd71b1a1fc37bd4a7dcde23c27e35bc62f

pkgname = oh-my-pi-git-tag
