pkgbase = goose-desktop-git
	pkgdesc = An open-source, extensible AI agent that goes beyond code suggestions (with UI, GIT Version)
	pkgver = 1.18.0
	pkgrel = 1
	url = https://github.com/block/goose
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = nodejs
	makedepends = just
	makedepends = oniguruma
	makedepends = libxml2
	makedepends = libxcb
	makedepends = git
	depends = uv
	depends = npm
	conflicts = codename-goose
	conflicts = codename-goose-bin
	options = !lto
	options = !debug
	source = goose-desktop-git-1.18.0.tar.gz::https://github.com/block/goose/archive/refs/tags/v1.18.0.tar.gz
	source = auto-hide-menu-bar.patch
	b2sums = SKIP
	b2sums = 94d5a2add73bcde850f5c0555039d71b63611e54dc896ab8b5c12165884ad4126e3298c6542a10d82ef9b84f6b191468c6ba4a7843a854c560facd3591b5bdc5

pkgname = goose-desktop-git
