pkgbase = moltis
	pkgdesc = A personal AI gateway written in Rust. One binary, no runtime, no npm.
	pkgver = 0.9.8
	pkgrel = 1
	url = https://github.com/moltis-org/moltis
	arch = x86_64
	license = MIT
	makedepends = clang
	makedepends = cargo
	makedepends = cmake
	makedepends = cuda
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = systemd-libs
	provides = moltis
	conflicts = moltis
	options = !lto
	options = !debug
	source = moltis::git+https://github.com/moltis-org/moltis.git#tag=v0.9.8
	sha256sums = 2795b009a7b7433ce18ceecb4a8c1034023ed36be77da1055ada5371d569022e

pkgname = moltis
