pkgbase = python-outetts
	pkgdesc = OuteAI Text-to-Speech (TTS)
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/edwko/OuteTTS
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	source = python-outetts-0.4.2.tar.gz::https://github.com/edwko/OuteTTS/archive/refs/tags/0.4.2.tar.gz
	sha256sums = 17fa31f50f9d7151462bb213451fca0b54bf329951ca64664c2c33a2c925d55c

pkgname = python-outetts-cpu
	pkgdesc = OuteAI Text-to-Speech (TTS) - CPU version
	depends = python-pytorch
	depends = python-torchvision
	depends = python-torchaudio
	depends = python-scipy
	depends = python-einops
	depends = python-yaml
	depends = python-huggingface-hub
	depends = python-encodec
	depends = python-matplotlib
	depends = python-transformers
	depends = python-soundfile
	depends = python-numpy
	depends = python-inflect
	depends = python-loguru
	depends = python-polars
	depends = python-natsort
	depends = python-tqdm
	depends = python-requests
	depends = python-sounddevice
	depends = python-mecab
	depends = python-unidic-lite
	depends = python-uroman
	depends = python-openai-whisper
	depends = python-pygame
	depends = python-descript-audio-codec
	depends = python-aiohttp
	depends = python-ftfy
	depends = python-llama-cpp
	provides = python-outetts
	conflicts = python-outetts

pkgname = python-outetts-cuda
	pkgdesc = OuteAI Text-to-Speech (TTS) - CUDA version
	depends = python-pytorch
	depends = python-torchvision
	depends = python-torchaudio
	depends = python-scipy
	depends = python-einops
	depends = python-yaml
	depends = python-huggingface-hub
	depends = python-encodec
	depends = python-matplotlib
	depends = python-transformers
	depends = python-soundfile
	depends = python-numpy
	depends = python-inflect
	depends = python-loguru
	depends = python-polars
	depends = python-natsort
	depends = python-tqdm
	depends = python-requests
	depends = python-sounddevice
	depends = python-mecab
	depends = python-unidic-lite
	depends = python-uroman
	depends = python-openai-whisper
	depends = python-pygame
	depends = python-descript-audio-codec
	depends = python-aiohttp
	depends = python-ftfy
	depends = python-llama-cpp-cuda
	provides = python-outetts
	conflicts = python-outetts

pkgname = python-outetts-hip
	pkgdesc = OuteAI Text-to-Speech (TTS) - HIP version
	depends = python-pytorch
	depends = python-torchvision
	depends = python-torchaudio
	depends = python-scipy
	depends = python-einops
	depends = python-yaml
	depends = python-huggingface-hub
	depends = python-encodec
	depends = python-matplotlib
	depends = python-transformers
	depends = python-soundfile
	depends = python-numpy
	depends = python-inflect
	depends = python-loguru
	depends = python-polars
	depends = python-natsort
	depends = python-tqdm
	depends = python-requests
	depends = python-sounddevice
	depends = python-mecab
	depends = python-unidic-lite
	depends = python-uroman
	depends = python-openai-whisper
	depends = python-pygame
	depends = python-descript-audio-codec
	depends = python-aiohttp
	depends = python-ftfy
	depends = python-llama-cpp-hip
	provides = python-outetts
	conflicts = python-outetts

pkgname = python-outetts-vulkan
	pkgdesc = OuteAI Text-to-Speech (TTS) - Vulkan version
	depends = python-pytorch
	depends = python-torchvision
	depends = python-torchaudio
	depends = python-scipy
	depends = python-einops
	depends = python-yaml
	depends = python-huggingface-hub
	depends = python-encodec
	depends = python-matplotlib
	depends = python-transformers
	depends = python-soundfile
	depends = python-numpy
	depends = python-inflect
	depends = python-loguru
	depends = python-polars
	depends = python-natsort
	depends = python-tqdm
	depends = python-requests
	depends = python-sounddevice
	depends = python-mecab
	depends = python-unidic-lite
	depends = python-uroman
	depends = python-openai-whisper
	depends = python-pygame
	depends = python-descript-audio-codec
	depends = python-aiohttp
	depends = python-ftfy
	depends = python-llama-cpp-vulkan
	provides = python-outetts
	conflicts = python-outetts
