pkgbase = mlc-llm
	pkgdesc = Universal LLM deployment engine via ML compilation (ROCm & Vulkan)
	pkgver = 0.20.0
	pkgrel = 1
	url = https://github.com/mlc-ai/mlc-llm
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build-core
	makedepends = rocm-hip-sdk
	makedepends = vulkan-headers
	makedepends = llvm
	makedepends = cython
	makedepends = python-setuptools-scm
	source = mlc-llm::git+https://github.com/mlc-ai/mlc-llm.git#tag=v0.20.0
	sha256sums = 342de77156c9a8ce2afff16ed47c44c821f31fe68d1e11f5434c5a676998b6da

pkgname = mlc-llm
	pkgdesc = Universal LLM deployment engine (shared libraries and executables)
	depends = rocm-hip-sdk
	depends = vulkan-icd-loader
	depends = llvm-libs
	depends = libbacktrace
	depends = oniguruma
	provides = libmlc_llm.so
	provides = libtvm_runtime.so
	provides = libtvm_ffi.so
	provides = libtvm_compiler.so
	conflicts = tvm

pkgname = python-mlc-llm
	pkgdesc = Python bindings for MLC-LLM
	depends = mlc-llm
	depends = python
	depends = python-numpy
	depends = python-pytorch
	depends = python-transformers
	depends = python-fastapi
	depends = python-openai
	depends = python-safetensors
	depends = python-sentencepiece
	depends = python-tqdm
	depends = python-tiktoken
	depends = python-shortuuid
	depends = python-ml-dtypes
	depends = uvicorn
	depends = python-flashinfer-rocm
	depends = python-msgpack
	depends = python-psutil
	depends = python-peft
	depends = python-prompt_toolkit
	depends = python-aiohttp
	depends = python-datasets
	depends = python-pytest
	depends = python-tvm-ffi-mlc
	provides = python-tvm
	conflicts = python-tvm

pkgname = python-tvm-ffi-mlc
	pkgdesc = Open ABI and FFI for Machine Learning Systems (MLC Relax Fork)
	depends = python
	depends = python-typing_extensions
	depends = libbacktrace
	provides = python-tvm-ffi
	conflicts = python-tvm-ffi
