pkgbase = python-optimum-rocm
	pkgdesc = Accelerated inference and training with Hugging Face Optimum (with ROCm support)
	pkgver = 1.27.0
	pkgrel = 1
	url = https://github.com/huggingface/optimum
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-huggingface-hub
	depends = python-numpy
	depends = python-optimum-amd
	depends = python-packaging
	depends = python-pytorch-rocm
	depends = python-transformers
	provides = python-optimum=1.27.0
	conflicts = python-optimum
	source = https://files.pythonhosted.org/packages/source/o/optimum/optimum-1.27.0.tar.gz
	sha256sums = ad80d80de336ca5e1e6b4f5ade824da731a945846208871acd2e2ada91002a7b

pkgname = python-optimum-rocm
