llama-cpp-python/
llama.cpp/
whisper.cpp/
stable-diffusion.cpp/
libwebm/
qwen3-tts.cpp/
sdcpp-webui/
crispasr/
libggml-git*.pkg.tar*
llama.cpp*.pkg.tar*
python-llama-cpp*.pkg.tar*
whisper.cpp*.pkg.tar*
stable-diffusion.cpp*.pkg.tar*
qwen3-tts.cpp*.pkg.tar*
crispasr*.pkg.tar*
*.gguf
