pkgbase = tei-rocm
	pkgdesc = Hugging Face Text Embeddings Inference (TEI) A blazing fast inference solution for text embeddings models. (with ROCm/HIP support)
	pkgver = 1.9.3
	pkgrel = 1
	url = https://github.com/huggingface/text-embeddings-inference
	arch = x86_64
	license = Apache-2.0
	makedepends = rust
	makedepends = cargo
	makedepends = protobuf
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-setuptools
	makedepends = python-grpcio-tools
	makedepends = git
	depends = python-pytorch-opt-rocm
	depends = python-safetensors
	depends = python-einops
	depends = python-packaging
	depends = python-grpcio
	depends = python-grpcio-status
	depends = python-grpcio-reflection
	depends = python-grpc-interceptor
	depends = python-loguru
	depends = python-typer
	depends = python-sentence-transformers
	depends = python-opentelemetry-api
	depends = python-opentelemetry-sdk
	depends = python-opentelemetry-exporter-otlp
	depends = python-opentelemetry-instrumentation-grpc
	provides = tei
	conflicts = tei
	source = tei-rocm-1.9.3.tar.gz::https://github.com/huggingface/text-embeddings-inference/archive/refs/tags/v1.9.3.tar.gz
	sha256sums = 85cbe4b18033cd8e84118841a94122a8d4e4bfeeba128c4b0f77bd30d4f1e4ea

pkgname = tei-rocm
