pkgbase = pocket-tts.cpp-git
	pkgdesc = Single-file C++ TTS runtime for Pocket TTS with ONNX Runtime — voice cloning, streaming, HTTP server, FFI C API (Git version)
	pkgver = 0.1.0.r18.ge801e7d
	pkgrel = 1
	url = https://github.com/VolgaGerm/PocketTTS.cpp
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = cmake
	depends = glibc
	depends = gcc-libs
	depends = onnxruntime
	depends = sentencepiece
	optdepends = python-pocket-tts: to run the ONNX model exporter script export_onnx.py
	optdepends = python-pytorch: to run the ONNX model exporter script export_onnx.py
	optdepends = python-onnx: to run the ONNX model exporter script export_onnx.py
	optdepends = python-onnxruntime: to run the ONNX model exporter script export_onnx.py
	provides = pocket-tts.cpp
	provides = pockettts.cpp
	conflicts = pocket-tts.cpp
	conflicts = pockettts.cpp
	source = pocket-tts-cpp::git+https://github.com/VolgaGerm/PocketTTS.cpp.git
	source = dr_libs::git+https://github.com/mackron/dr_libs.git
	source = system-onnxruntime.patch
	source = exporter-multi-config.patch
	source = README.aur
	source = export-voices.py
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 3632d402b644f179882e42eff0636bae384235de32064732e756933f20688eb2
	sha256sums = a077f888287af5c4b73879d509b4b61f7fac226434b5e1183869f332f102ff63
	sha256sums = 5d5b7cea136bf00cbb6f3c9f776e99854cea63b12a5297772b5351922c923076
	sha256sums = 7de23ec7348f32935ce45f9abf4544d90cddf7f682c3376fa068507790f3584d

pkgname = pocket-tts.cpp-git
