pkgbase = aichat
	pkgdesc = Use ChatGPT, LocalAI and other LLMs in the terminal.
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/sigoden/aichat
	arch = x86_64
	arch = aarch64
	arch = i686
	license = APACHE,
	license = MIT
	depends = cargo
	source = aichat-0.10.0.tar.gz::https://github.com/sigoden/aichat/archive/refs/tags/v0.10.0.tar.gz
	sha256sums = d55ac87b587a25acd0203a2c310250d66347b6733e33f7c4f7546b17d1a3ebe9

pkgname = aichat
