pkgbase = hermes-agent-git
	pkgdesc = Locally-run AI agent with tool use, web browsing, and automation (Git Main Branch)
	pkgver = 0.17.0.r20260701.gb23e1c3
	pkgrel = 1
	url = https://github.com/NousResearch/hermes-agent
	install = hermes-agent.install
	arch = any
	license = MIT
	makedepends = python
	makedepends = nodejs
	makedepends = npm
	makedepends = rsync
	makedepends = git
	depends = python
	depends = ripgrep
	depends = ffmpeg
	depends = nss
	depends = atk
	depends = at-spi2-core
	depends = cups
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = cairo
	depends = alsa-lib
	depends = python-numpy
	depends = python-onnxruntime
	depends = python-huggingface-hub
	depends = python-soundfile
	depends = python-scipy
	provides = hermes-agent
	conflicts = hermes-agent
	source = hermes-agent.install
	sha256sums = SKIP

pkgname = hermes-agent-git
