pkgbase = hermes-agent-git
	pkgdesc = Locally-run AI agent with tool use, web browsing, and automation (Git Main Branch)
	pkgver = 0.18.2.r624.gdf5700ebe
	pkgrel = 1
	url = https://github.com/NousResearch/hermes-agent
	install = hermes-agent.install
	arch = any
	license = MIT
	makedepends = python
	makedepends = nodejs
	makedepends = npm
	makedepends = rsync
	makedepends = git
	makedepends = curl
	depends = python
	depends = ripgrep
	depends = ffmpeg
	depends = nss
	depends = atk
	depends = at-spi2-core
	depends = cups
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = cairo
	depends = alsa-lib
	depends = python-numpy
	depends = python-onnxruntime
	depends = python-huggingface-hub
	depends = python-soundfile
	depends = python-scipy
	depends = python-litellm
	provides = hermes-agent
	conflicts = hermes-agent
	options = !strip
	source = hermes-agent.install
	source = hermes-managed-pacman.patch
	source = python314-daemon-pool.patch
	source = skills-install-slug-resolution.patch
	source = hindsight-dependency-relaxation.patch
	source = hindsight-provider-patches.patch
	sha256sums = fff10d8e7839eaaa4847e04f1453259acfe99ba2221a49c32a24202bbc7ce5e2
	sha256sums = fafa699ac1bde48d6d1eeaaeff84cc6035599f099205965bd300bd5798c9c788
	sha256sums = f49f43c9ea891c16198b42f67be52a521fa4092d0df122a2b9820f2c561c9486
	sha256sums = beeef0c5d27fb0f9216810a11b83d42bd30f87c124ad6efe7967117041f05faa
	sha256sums = 0fddd4578c648480257463f74bbf85510a8c54501041b43a18b1549dec401a86
	sha256sums = 8b315e2b652aad7036c54e70d251e590d98b9742929f22c2c6851ee68f2dbd3e

pkgname = hermes-agent-git
