pkgbase = vllm.cpp-git-hip
	pkgdesc = A community oriented 1:1, vLLM-alike engine in C++ with ROCm/HIP and Vulkan acceleration (git version)
	pkgver = 0.0.2.r701.ga7583ac
	pkgrel = 1
	url = https://github.com/mudler/vllm.cpp
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = rocm-hip-sdk
	makedepends = rocm-toolchain
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = shaderc
	makedepends = spirv-headers
	depends = rocm-hip-runtime
	depends = vulkan-icd-loader
	depends = gcc-libs
	provides = vllm.cpp
	provides = vllm-server
	provides = vllm-cli
	conflicts = vllm.cpp
	options = !lto
	options = !debug
	options = !buildflags
	source = vllm.cpp::git+https://github.com/mudler/vllm.cpp.git
	sha256sums = SKIP

pkgname = vllm.cpp-git-hip
