pkgbase = amux-git
	pkgdesc = Multi-session agent orchestrator and control plane (Git version)
	pkgver = 0.1.0.r3529.g29d3c701
	pkgrel = 1
	url = https://github.com/mixpeek/amux
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = tmux
	provides = amux
	provides = amux-server
	conflicts = amux
	conflicts = amux-server
	options = !lto
	options = !debug
	source = amux::git+https://github.com/mixpeek/amux.git
	source = omp-provider.patch
	source = disable-no-apikey-banner.patch
	sha256sums = SKIP
	sha256sums = 3606e596e23b3d80e46a094e0586a4974659989a7c9b30a1b659729c28e0cd01
	sha256sums = 07e075bcc4914b1a2f143ddb65566273bc31223e5d570d260ccc39f0cd31e29a

pkgname = amux-git
