pkgbase = amux-git
	pkgdesc = Multi-session agent orchestrator and control plane (Git version)
	pkgver = 0.1.0.r3681.g3ba5e733
	pkgrel = 1
	url = https://github.com/mixpeek/amux
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = tmux
	provides = amux
	provides = amux-server
	conflicts = amux
	conflicts = amux-server
	options = !lto
	options = !debug
	source = amux::git+https://github.com/mixpeek/amux.git
	source = omp-provider.patch
	source = disable-no-apikey-banner.patch
	source = aoe-backend.patch
	sha256sums = SKIP
	sha256sums = f43daf7d46f06e30902a15b98a947330ca54bbe59049bbebe9bb7cf97afdcc30
	sha256sums = a6fce23d393aeb441f06258d5ca22f1f3176d238df92f416cdd506a7e8885bf8
	sha256sums = 346aa5e635486e76e8ebcea188de081f4bfdde49f82d11a4126f3e9f5e12cc7b

pkgname = amux-git
