pkgbase = amux-git
	pkgdesc = Multi-session agent orchestrator and control plane (Git version)
	pkgver = 0.1.0.r3533.g8a8eda84
	pkgrel = 1
	url = https://github.com/mixpeek/amux
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = tmux
	provides = amux
	provides = amux-server
	conflicts = amux
	conflicts = amux-server
	options = !lto
	options = !debug
	source = amux::git+https://github.com/mixpeek/amux.git
	source = omp-provider.patch
	source = disable-no-apikey-banner.patch
	source = aoe-backend.patch
	sha256sums = SKIP
	sha256sums = abefbf84076b673c28312b899d001a28396411494872593b39f8867b640ebec9
	sha256sums = 07e075bcc4914b1a2f143ddb65566273bc31223e5d570d260ccc39f0cd31e29a
	sha256sums = 0f43614cb31e8d1720b29e091fe5de00fa966e2cc9a8f739fce6953e585e2170

pkgname = amux-git
